button {
  text-align: center;
  margin: auto;
  padding: 25px 50px 25px 50px;
  display: flex;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  background-color: black;
  color: white;
  border-radius: 12px;
  border-color: white;
}

.button:hover {
  background-color: white;
  color: black;
}

img {
  width: 100%;
  display: block;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  text-align: center;
  color: white;
  margin-top: 100px;
}

body {
  background-color: black;
  background: black;
}

.pad-div {
  margin-top: 100px;
}
